[data-bs-theme="dark"] {
  --md-sys-color-primary: rgb(166 200 255);
  --md-sys-color-surface-tint: rgb(166 200 255);
  --md-sys-color-on-primary: rgb(1 49 94);
  --md-sys-color-primary-container: rgb(34 72 118);
  --md-sys-color-on-primary-container: rgb(212 227 255);
  --md-sys-color-secondary: rgb(138 208 239);
  --md-sys-color-on-secondary: rgb(0 53 69);
  --md-sys-color-secondary-container: rgb(0 77 99);
  --md-sys-color-on-secondary-container: rgb(188 233 255);
  --md-sys-color-tertiary: rgb(228 183 243);
  --md-sys-color-on-tertiary: rgb(68 34 83);
  --md-sys-color-tertiary-container: rgb(93 56 107);
  --md-sys-color-on-tertiary-container: rgb(248 216 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(225 226 233);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(195 198 207);
  --md-sys-color-outline: rgb(141 145 153);
  --md-sys-color-outline-variant: rgb(67 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(46 48 53);
  --md-sys-color-inverse-primary: rgb(60 96 144);
  --md-sys-color-primary-fixed: rgb(212 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 28 58);
  --md-sys-color-primary-fixed-dim: rgb(166 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(34 72 118);
  --md-sys-color-secondary-fixed: rgb(188 233 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 42);
  --md-sys-color-secondary-fixed-dim: rgb(138 208 239);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 77 99);
  --md-sys-color-tertiary-fixed: rgb(248 216 255);
  --md-sys-color-on-tertiary-fixed: rgb(45 10 60);
  --md-sys-color-tertiary-fixed-dim: rgb(228 183 243);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 56 107);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(50 53 58);

  --bs-body-bg: var(--md-sys-color-background);
  --bs-body-color: var(--md-sys-color-on-background);
  --bs-body-color-rgb: 225, 226, 233;
  --bs-secondary-color: var(--md-sys-color-on-surface-variant);
  --bs-secondary-color-rgb: 195, 198, 207;
  --bs-tertiary-color: var(--md-sys-color-on-surface-variant);
  --bs-tertiary-color-rgb: 195, 198, 207;
  --bs-emphasis-color: var(--md-sys-color-on-surface);
  --bs-emphasis-color-rgb: 225, 226, 233;
  --bs-border-color: var(--md-sys-color-outline-variant);
  --bs-border-color-translucent: rgba(67, 71, 78, 0.175);
  --bs-link-color: var(--md-sys-color-primary);
  --bs-link-hover-color: var(--md-sys-color-primary);
  --bs-primary-bg-subtle: var(--md-sys-color-primary-container);
  --bs-secondary-bg-subtle: var(--md-sys-color-secondary-container);
  --bs-success-bg-subtle: var(--md-sys-color-tertiary-container);
  --bs-danger-bg-subtle: var(--md-sys-color-error-container);
  --bs-primary-text-emphasis: var(--md-sys-color-on-primary-container);
  --bs-secondary-text-emphasis: var(--md-sys-color-on-secondary-container);
  --bs-success-text-emphasis: var(--md-sys-color-on-tertiary-container);
  --bs-danger-text-emphasis: var(--md-sys-color-on-error-container);
  --bs-primary-border-subtle: var(--md-sys-color-outline);
  --bs-secondary-border-subtle: var(--md-sys-color-outline);
  --bs-success-border-subtle: var(--md-sys-color-outline);
  --bs-danger-border-subtle: var(--md-sys-color-outline);
}
